<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
	<title>{% block header %}Tor Weather{% endblock %}</title>
	<link rel="stylesheet" type="text/css" 
	href="http://weather.torproject.org/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/media/style.css">
	{% block script %}{% endblock %}
</head>

<body>
	
	<div class="center">
		<table class="banner" border="0" cellpadding="0" cellspacing="0" summary="">
			<tr>
				<td class="banner-left">
					<a href="https://www.torproject.org/"><img src="http://weather.torproject.org/top-left.png" alt="Click to go to home page" width="193" height="79"></a>
				</td>
				<td class="banner-middle">
					&nbsp;
				</td>
			    <td class="banner-right">
				</td>
			</tr>
		</table>

		<div class="main-column" class="center">
			<h1 id="page-title">{% block title %}Tor Weather{% endblock %}</h1>

			{% block content %}
			{% endblock content %}

			{% block footer %}
			<div class="footer">
				<p>
					<em>
						{% block footer-text %}
						Please note that while we won't ever intentionally publish them, the address/node pairs sent to this server are not protected against SMTP eavesdropping, hacking, or lawyers.
						{% endblock footer-text %}
					</em>
				</p>
			</div>
			<div class="license">
				"Tor" and the "Onion Logo" are <a href="https://www.torproject.org/trademark-faq.html.en">registered trademarks</a> of The Tor Project, Inc.
				<br />
				Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>, unless otherwise noted. 
			</div>
			{% endblock footer %}
		</div>
	</div>
</body>

</html>

