{% extends "base.html" %}

{% block header %}
Tor Weather - Confirmation Successful
{% endblock header %}

{% block title %}
Tor Weather - Confirmation Successful
{% endblock title %}

{% block content %}
<p>
	You are now able to receive Tor Weather reports at {{ email }}.
</p>

<p>
	You can unsubscribe anytime with the following link:
	<div><a href = "{{ unsubURL }}">{{ unsubURL }}</a></div>
</p>

<p>
	You can change your preferences here:
	<div><a href = "{{ prefURL }}">{{ prefURL }}</a></div>
</p>
{% endblock content %}

