{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/media/jquery.js"></script>
<script type="text/javascript" src="/media/script.js"></script>
{% endblock script %}

{% block content %}

{% block form-tag %}
{% endblock form-tag %}

{% block user-info %}
{% endblock user-info %}

{% for error in form.non_field_errors %}<span class="big-form-error">{{ error }}</span>{% endfor %}

<div id="notification-info">
	<div class="notification-section">
		{{ form.get_node_down }}
		<label for="id_get_node_down">{{ form.get_node_down.label }}</label>
		<div class="collapse-section" id="node-down-section">
			<div class="section-help-text">
				{{ form.node_down_text.label }}
				<span id="node-down-more-info">
					<span class="more-info-text">
						{{ form.node_down_text.help_text }}
					</span>
					<a href="JavaScript:void()" class="more-info-link">(More detail)</a>
				</span>
			</div>
			<div class="field-row" id="node-down-grace-pd-row">
				<label for="id_node_down_grace_pd" class="block">{{ form.node_down_grace_pd.label }}</label>
				{% for error in form.node_down_grace_pd.errors %}<span class="form-error">{{ error }}</span>{% endfor %}
				{{ form.node_down_grace_pd }}
				<span class="help-text after-short">
					<em>{{ form.node_down_grace_pd.help_text }}</em>
				</span>
			</div>
		</div>
	</div>

	<div class="notification-section">
		{{ form.get_version }}
		<label for="id_get_version">{{ form.get_version.label }}</label>
		<div class="collapse-section" id="version-section">
			<div class="section-help-text">
				{{ form.version_text.label }}
				<span id="version-more-info">
					<span class="more-info-text">
						{{ form.version_text.help_text }}
					</span>
					<a href="JavaScript:void()" class="more-info-link">(More detail)</a>
				</span>
			</div>
			<div class="field-row" id="version-type-row">
				<label for="id_version_type" class="block">{{ form.version_type.label }}</label>
				{% for error in form.version_type.errors %}<span class="form-error">{{ error }}</span>{% endfor %}
				{{ form.version_type }}
				<span class="help-text after-dropdown">
					<em>{{ form.version_type.help_text }}</em>
				</span>
			</div>
		</div>
	</div>

	<div class="notification-section">
		{{ form.get_band_low }}
		<label for="id_get_band_low">{{ form.get_band_low.label }}</label>
		<div class="collapse-section" id="band-low-section">
			<div class="section-help-text">
				{{ form.band_low_text.label }}
				<span id="band-low-more-info">
					<span class="more-info-text">
						{{ form.band_low_text.help_text }}
					</span>
					<a href="JavaScript:void()" class="more-info-link">(More detail)</a>
				</span>
			</div>
			<div class="field-row" id="band-low-threshold-row">
				<label for="band_low_threshold" class="block">{{ form.band_low_threshold.label }}</label>
				{% for error in form.band_low_threshold.errors %}<span class="form-error">{{ error }}</span>{% endfor %}
				{{ form.band_low_threshold }}
				<span class="help-text after-short">
					<em>{{ form.band_low_threshold.help_text }}</em>
				</span>
			</div>
		</div>
	</div>

	<div class="notification-section">
		{{ form.get_t_shirt }}
		<label for="get_t_shirt">{{ form.get_t_shirt.label }}</label>
		<div class="collapse-section" id="t-shirt-section">
			<div class="section-help-text">
				{{ form.t_shirt_text.label }}
				<span id="t-shirt-more-info">
					<span class="more-info-text">
						{{ form.t_shirt_text.help_text }}
					</span>
					<a href="JavaScript:void()" class="more-info-link">(More detail)</a>
				</span>
			</div>
		</div>
	</div>
</div>

{% block submit-button %}
{% endblock submit-button %}

<span id="more-info">
	<a target="_blank" href="/notification_info/">(More Info)</a>
	<span id="more-info-hover" style="display:none;">
		- more information about how these notifications are triggered
	</span>
</span>

</form>

{% endblock content %}
