{% extends "generic_form.html" %}

{% block head-tag %}
<head id="preferences-page">
{% endblock head-tag %}

{% block header %}
Tor Weather - Preferences
{% endblock header %}

{% block title %}
Tor Weather - Preferences
{% endblock title %}

{% block form-tag %}
<form method="post" action="/preferences/{{ pref_auth }}/"> {% csrf_token %}
{% endblock form-tag %}

{% block user-info %}

<div class="subscriber-info">
	{{ form.user_info|safe }}
</div>

<div class="subscriber-info" style="display:none;">
	<div class="floater">
		<label for="id_email" class="block">{{form.email.label}}</label>
		{{ form.email }}
	</div>
	<div class="floater">
		<label for="id_router_name" class="block">{{ form.router_name.label }}</label>
		{{ form.router_name }}
	</div>
	<div class="floater">
		<label for="id_fingerprint" class="block">{{ form.fingerprint.label }}</label>
		{{ form.fingerprint }}
	</div>
</div>
{% endblock user-info %}

{% block submit-button %}
<input class="submit-button" type="submit" value="Save Preferences" />
{% endblock submit-button %}
