{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/media/jquery.js"></script>
<script type="text/javascript" src="/media/script.js"></script>
{% endblock %}

{% block header %}
Tor Weather - Sign Up!
{% endblock %}

{% block title %}
Tor Weather - Sign Up!
{% endblock %}

{% block content %}

<form method="post" action="/subscribe/">{% csrf_token %}
<p>
	You can use this form to request status updates to tell you when a particular Tor node has become unreachable for a sustained period of time.
</p>
<h3 class="form-heading">
	<span>
		Subscriber Info
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div class="email-block">
		<label for="id_email_1" class="block">{{form.email_1.label}}</label>
		{% for error in form.email_1.errors %}<span class="error">{{ error }}</span>{% endfor %}
		{{ form.email_1 }}
	</div>
	<div class="email-block">
		<label for="id_email_2" class="block">{{ form.email_2.label }}</label>
		{% for error in form.email_2.errors %}<span class="error">{{ error }}</span>{% endfor %}
		{{ form.email_2 }}
	</div>
	<div class="long-input" class="block">
		<label for="id_fingerprint" class="block">{{ form.fingerprint.label }}</label>
		{% for error in form.fingerprint.errors %}<span class="error">{{ error|safe}}</span>{% endfor %}
		{{ form.fingerprint }}
	</div>
</div>

{% for error in form.non_field_errors %}<span class="big-error">{{ error }}</span>{% endfor %}

<h3 class="form-heading">
	<span>
		Node Down Notification Options
	</span>
	<div></div>
</h3>

<div class="form-section">
	
	<div id="node-down-check">
		{{ form.get_node_down }}
		<label for="id_get_node_down">{{ form.get_node_down.label }}</label>
	</div>

	<div id="node-down-section">
		<div class="short-input">
			<label for="node_down_grace_pd_id" class="block">{{ form.node_down_grace_pd.label }}</label>
			{% for error in form.node_down_grace_pd.errors %}<span class="error">{{ error }}</span>{% endfor %}
			{{ form.node_down_grace_pd }}
			<em>{{ form.node_down_grace_pd.help_text }}</em>
		</div>
	</div>
</div>

<h3 class="form-heading">
	<span>
		Version Notification Options
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div id="out-of-date-check">
		{{ form.get_out_of_date }}
		<label for="get_out_of_date_id">{{ form.get_out_of_date.label }}</label>
	</div>
	<div id="out-of-date-section">
		<div>
			<label for="out_of_date_type" class="block">{{ form.out_of_date_type.label }}</label>
			{% for error in form.out_of_date_type.errors %}<span class="error">{{ error }}</span>{% endfor %}
			{{ form.out_of_date_type }}
		</div>
	</div>
</div>

<h3 class="form-heading">
	<span>
		Low Bandwidth Notification Options
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div id="band-low-check">
		{{ form.get_band_low }}
		<label for="get_band_low_id">{{ form.get_band_low.label }}</label>
		{% for error in form.get_band_low.errors %}<span class="error">{{ error }}</span>{% endfor %}
	</div>
	<div id="band-low-section">
		<div class="short-input">
			<label for="band_low_threshold" class="block">{{ form.band_low_threshold.label }}</label>
			{% for error in form.band_low_threshold.errors %}<span class="error">{{ error }}</span>{% endfor %}
			{{ form.band_low_threshold }}
			<em>{{ form.band_low_threshold.help_text }}</em>
		</div>
		<div class="short-input">
			<label for="band_low_grace_pd" class="block">{{ form.band_low_grace_pd.label }}</label>
			{% for error in form.band_low_grace_pd.errors %}<span class="error">{{ error }}</span>{% endfor %}
			{{ form.band_low_grace_pd }}
			<em>{{ form.band_low_grace_pd.help_text }}</em>
		</div>
	</div>
</div>

<h3 class="form-heading">
	<span>		
		T-Shirt Notification Options
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div>
		{{ form.get_t_shirt }}
		<label for="get_t_shirt">{{ form.get_t_shirt.label }}</label>
	</div>
</div>


<input type="submit" id="subscribe-submit" value="Subscribe to Tor Weather!" name="sa" />
<br />
</form>

{% endblock content %}
