{% extends "generic_form.html" %}

{% block head-tag %}
<head id="subscribe-page">
{% endblock head-tag %}

{% block header %}
Tor Weather - Sign Up!
{% endblock header %}

{% block title %}
Tor Weather - Sign Up!
{% endblock title %}

{% block form-tag %}
<form method="post" action="/subscribe/" id="subscribe-form">{% csrf_token %}
{% endblock form-tag %}

{% block user-info %}
<fieldset id="user-info">
	<div>
		<label for="id_email_1" class="block">{{form.email_1.label}}</label>
		{% for error in form.email_1.errors %}
		<p class="form-error">{{ error|safe }}</p>
		{% endfor %}
		{{ form.email_1 }}
	</div>
	<div>
		<label for="id_email_2" class="block">{{ form.email_2.label }}</label>
		{% for error in form.email_2.errors %}
		<p class="form-error">{{ error|safe }}</p>
		{% endfor %}
		{{ form.email_2 }}
	</div>
	<div>
		<label for="id_fingerprint" class="block">{{ form.fingerprint.label }}</label>
		{% for error in form.fingerprint.errors %}
		<p class="form-error">{{ error|safe}}</p>
		{% endfor %}
		{{ form.fingerprint }}
	</div>
</fieldset>
{% endblock user-info %}

{% block submit-button %}
<input id="submit-button" type="submit" value="Subscribe to Tor Weather!" />
{% endblock submit-button %}
