{% extends "generic_form.html" %}

{% block head-tag %}
<head id="subscribe-page">
{% endblock head-tag %}

{% block header %}
Tor Weather - Sign Up!
{% endblock header %}

{% block title %}
Tor Weather - Sign Up!
{% endblock title %}

{% block extra_script %}
<script type="text/javascript" src="/media/dimensions.js"></script>
<script type="text/javascript" src="/media/autocomplete.js"></script>
{% endblock extra_script %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/media/autocomplete.css">
{% endblock extra_css %}

{% block form-tag %}
<form method="post" action="/subscribe/" id="subscribe-form">{% csrf_token %}
{% endblock form-tag %}

{% block user-info %}
<div>
	<label for="id_email_1">{{form.email_1.label}}</label>
	{% for error in form.email_1.errors %}
	<p class="form-error">{{ error|safe }}</p>
	{% endfor %}
	{{ form.email_1 }}
</div>

<div>
	<label for="id_email_2">{{ form.email_2.label }}</label>
	{% for error in form.email_2.errors %}
	<p class="form-error">{{ error|safe }}</p>
	{% endfor %}
	{{ form.email_2 }}
</div>

<div>
	<script type="text/javascript"><!--
		$(function(){
			setAutoComplete("fingerprint", "results", "/auto_fingerprint_lookup/?query=");
		});
	--></script>
	<label for="fingerprint">{{ form.fingerprint.label }}</label>
	{% for error in form.fingerprint.errors %}
	<p class="form-error">{{ error|safe}}</p>
	{% endfor %}
	{{ form.fingerprint }}
	<div id="fingerprint_results"></div>
</div>
{% endblock user-info %}

{% block submit-button %}
<input id="submit-button" type="submit" value="Subscribe to Tor Weather!" />
{% endblock submit-button %}
