div.center {
	max-width: 760px;
}

form div { 
	margin-bottom: 5px;
}

.form-heading {
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

.form-heading span {
	display: block;
	margin-bottom: -15px;
	padding-right: 5px;
	float: left;
	background-color: white;
}

.form-heading div {
	clear: both;
}

div.form-section {
	clear: both;
}

div.form-heading strong {
	margin-right: 5px;
}

input {
	width: 175px;
}

label {
	font-size: 14px;
}

div.has-extra-text {
	float: left;
}

em.has-extra-text {
	float: left;
}

div.email-block {
	float: left;
	margin-right: 15px;
}

div.long-input {
	clear: both;
}

div.long-input input {
	width: 300px;
}

div.short-input input {
	width: 100px;
}
