div.center {
	max-width: 760px;
}

div.main-column {
	padding-right: 10px;
}

div#sign-up-link {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}	

h1 {
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

h2 {
	font-size: 18px;
}

div.footer {
	padding-top: 5px;
	margin-top: 50px;
	border-top: 1px solid rgb(100,100,100);
}

div.footer p {
	color: rgb(100,100,100);
}

div.notification-section {
	clear: both;
}

input.email-input {
	margin-top: 2px;
	margin-bottom: 3px;
	width: 185px;
}

input.short-input {
	margin-top: 2px;
	margin-right: 5px;
	width: 100px;
	float: left;
}

span.after-short {
	padding-top: 4px;
	margin-left: 105px;
	display: block;
}

select.dropdown-input {
	margin-top: 2px;
	margin-right: 5px;
	width: 149px;
	float: left;
}

span.after-dropdown {
	padding-top: 4px;
	margin-left: 154px;
	display: block;
}

span.help-text {
	padding-top: 3px;
	display: block;
}

span.help-text em {
	color: rgb(100, 100, 100);
}

input.long-input {
	margin-top: 2px;
	margin-bottom: 3px;
	width: 385px;
}

div.collapse-section {
	margin-left: 26px;
	margin-top: 6px;
	margin-bottom: 8px;
}

div#subscriber-info {
	margin-bottom: 10px;
}

span.form-error {
	margin-top: 2px;
	color: red;
	display: block;
}

div.section-help-text {
	margin-bottom: 5px;
}

div.field-row {
	margin-bottom: 5px;
}

span.big-form-error {
	padding-top: 10px;
	color: red;
	display: block;
	font-weight: bold;
}

form#subscribe-form input[type='submit'] {
	margin-top: 20px;
	font-size: 18px;
}

.block {
	display: block;
	clear: both;
}

form {
	font-size: 14px;
}

div.email-block {
	float: left;
	margin-right: 15px;
}

a.more-info-link {
	display: none;
	font-size: 12px;
}

span.more-info-text {
	display: inline;
}
