div.center {
	max-width: 760px;
}

div.main-column {
	padding-right: 10px;
}

h1 {
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.email-block input {
	width: 143px;
}

form div {
	margin-bottom: 5px;
}

form input {
	margin-top: 2px;
}

form select {
	margin-top: 2px;
}

.form-heading {
	border-bottom: 1px solid gray;
	margin-bottom: 6px;
}

div.form-section {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

div.collapse-section {
	margin-left: 26px;
}

div#sign-up-link {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}	

span.form-error {
	margin-top: 2px;
	color: red;
	display: block;
}

span.big-form-error {
	padding-top: 10px;
	color: red;
	display: block;
	font-weight: bold;
}

input#subscribe-submit {
	font-size: 18px;
	float:right;
}

label.block {
	display: block;
	clear: both;
}

.form-section {
	font-size: 14px;
}

.form-section em {
	color: rgb(75, 75, 75);
}

div.email-block {
	float: left;
	margin-right: 15px;
}

div.long-input input {
	width: 300px;
}

div.short-input input {
	width: 100px;
}
