div.center {
	max-width: 760px;
}

div.main-column {
	padding-right: 10px;
}

div#sign-up-link {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}	

h1 {
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

div.footer {
	padding-top: 5px;
	margin-top: 50px;
	border-top: 1px solid rgb(75,75,75);
}

div.footer p {
	color: rgb(75,75,75);
}

div.help-text em {
	color: rgb(75, 75, 75);
}

div.email-block input {
	width: 143px;
}

div.email-block input {
	margin-top: 2px;
	margin-bottom: 3px;
}

div.short-input {
	margin-top: 2px;
	margin-right: 5px;
	width: 100px;
	float: left;
}

div.after-short {
	padding-top: 4px;
	margin-left: 105px;
}

div.dropdown-input {
	margin-top: 2px;
	margin-right: 5px;
	width: 149px;
	float: left;
}

div.after-dropdown {
	padding-top: 4px;
	margin-left: 154px;
}

div.help-text em {
	color: rgb()
}

div.long-input input {
	margin-top: 2px;
	margin-bottom: 3px;
}

div.collapse-section {
	margin-left: 26px;
	margin-top: 6px;
	margin-bottom: 8px;
}

div#subscriber-info {
	margin-bottom: 10px;
}

span.form-error {
	margin-top: 2px;
	color: red;
	display: block;
}

span.big-form-error {
	padding-top: 10px;
	color: red;
	display: block;
	font-weight: bold;
}

input#subscribe-submit {
	margin-top: 20px;
	font-size: 18px;
}

label.block {
	display: block;
	clear: both;
}

form {
	font-size: 14px;
}

div.email-block {
	float: left;
	margin-right: 15px;
}

div.long-input input {
	width: 300px;
}

div.short-input input {
	width: 100px;
}
