.center {
	max-width: 760px;
}

	.main-column {
		padding: 15px 0 10px 10px;
	}
	
		h1 {
			margin-top: 5px;
			padding-bottom: 10px;
			border-bottom: 1px solid black;
		}

		#sign-up-link {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			display: block;
		}

		p {
			margin: 0 0 12px 0;
		}

		form {
			font-size: 14px;
		}
			
			form p {
				margin: 0 0 2px 0;
			}

			input {
				clear: both;
			}

			fieldset {
				border: none;
				padding: 0 0 0 0;
				margin: 0 0 0 0;
				font-size: 14px;
			}

				#user-info {
					margin-bottom: 10px;
				}

				#user-info span {
					font-weight: bold;
				}

				#user-info div {
					float: left;
					margin-right: 15px;
				}

				#user-info label {
					display: block;
				}

			.email-input {
				margin: 2px 5px 3px 0;
				width: 185px;
			}

			.short-input {
				margin: 2px 5px 3px 0;
				width: 100px;
				float: left;
			}
			
			.long-input {
				margin: 2px 5px 3px 0;
				width: 390px;
			}

			.dropdown-input {
				margin: 2px 5px 3px 0;
				width: 149px;
			}

			.form-error {
				margin: 2px 0 1px 0;
				color: red;
				display: block;
			}

				#general-form-error {
					margin: 0 0 10px 0;
					font-weight: bold;
					display: block;
				}

			.extra-options {
				overflow: auto;
				margin: 3px 0 4px 26px;
			}	

				.help-text {
					padding-top: 3px;
					display: block;
					color: rgb(100, 100, 100);
				}

				.extra-options label {
					display: block;
				}

				.after-short {
					padding: 4px 0 0 0;
					margin: 0 0 0 105px;
					display: block;
				}

				.extra-options div {
					margin: 3px 0 4px 0;
				}

				.extra-options p {
					margin: 0 0 0 0;
				}

			#submit-button {
				font-size: 18px;
				margin-top: 25px;
			}
			
			#more-info {
				margin-left: 5px;
			}

		.footer {
			padding: 5px 0 0 0;
			margin: 25px 0 0 0;
			border-top: 1px solid rgb(100,100,100);
			color: rgb(100, 100, 100);
		}

			#weather-legal {
				font-style: italic;
				font-size: 14px;
				margin: 0 0 20px 0;
			}

			#trademark {
				text-align: center;
				font-size: 12px;
				margin: 0 0 1px 0;
			}

			#creative-commons {
				text-align: center;
				font-size: 12px;
				margin: 0 0 1px 0;
			}

