<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
	<title>Tor Weather</title>
	<link rel="stylesheet" type="text/css" 
	href="http://weather.torproject.org/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/media/default.css">
</head>

<body>
	
<div class="center">
<table class="banner" border="0" cellpadding="0" cellspacing="0" summary="">
	<tr>
		<td class="banner-left">
			<a href="https://www.torproject.org/"><img src="http://weather.
			torproject.org/top-left.png" alt="Click to go to home page"
			width="193" height="79"></a>
		</td>
		<td class="banner-middle">
			&nbsp;
        </td>
        <td class="banner-right">
        </td>
    </tr>
</table>

<div class="main-column" class="center">
<h1>Tor Weather</h1>

<hr>

    {% block content %} {% endblock content %}

</div>
</div>
</body>
</html>

