{% extends "base.html" %}

{% block content %}
<h2> Neo Sign Up! </h2>

<br />
<form method="post" action="/subscribe/">{% csrf_token %}
You can use this form to request status updates to tell you when a particular
Tor node has become unreachable for a sustained period of time.
<br /><br />

<h3 class="form-heading">
	<span>
		Subscriber Info
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div class="email-block">
		{{ form.email_1.errors }}
		<label for="id_email_1">{{form.email_1.help_text}}</label><br />
		{{ form.email_1 }}
	</div>
	<div class="email-block">
		{{ form.email_2.errors }}
		<label for="id_email_2">{{ form.email_2.help_text }}</label><br />
		{{ form.email_2 }}
	</div>
	<div class="long-input">
		{{ form.fingerprint.errors }}
		<label for="id_fingerprint">{{ form.fingerprint.help_text }}</label><br />
		{{ form.fingerprint }}
	</div>
</div>

<h3 class="form-heading">
	<span>
		Node Down Options
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div class="short-input" class="has-extra-text">
		{{ form.node_down_grace_pd.errors }}
		<label for="node_down_grace_pd_id">{{ form.node_down_grace_pd.help_text }}</label><br />
		{{ form.node_down_grace_pd }}
		<label><em>Enter a value betwen 1 and 4500 (roughly six months){{ form.node_down_grace_pd.help_text_2 }}</em></label>
	</div>
</div>

<h3 class="form-heading">
	<span>
		Node Out of Date Options
	</span>
	<div></div>
</h3>

<div class="form-section">
	<div class="short-input" class="has-extra-text">
		{{ form.out_of_date_grace_pd.errors }}
		<label for="out_of_date_grace_pd">{{ form.out_of_date_grace_pd.help_text }}</label><br />
		{{ form.out_of_date_grace_pd }}
		<label><em>Enter a value between 1 and 200 (roughly six months)</em></label>
</div>

{{ form.as_p }}



<p>
<input type="submit" class="submit" value="Subscribe to Tor Weather" name="sa"/>
</p>
</form>

{% endblock content %}
